<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>exercicios</title>
</head>

<body ng-app="app">

    <div ng-controller="mCtrl">
        Digite o Número: <input type="text" ng-model="numero"> <br>
        <button ng-click="calculaAntecessor()"> Calcular Antecessor </button>
    </div>

    <script>
        var app1 = angular.module("app", []);

        app1.controller("mCtrl", function ($scope) {

            $scope.calculaAntecessor = function () {
                $scope.numero = $scope.numero - 1;
            }

        });

    </script>
</body>

</html>