<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>exercicios</title>
</head>

<body ng-app="app">

    <div ng-controller="mCtrl">

        <div>
            <label for="salarioFixo">Salário fixo</label>
            <input ng-model="salarioFixo" type="number" name="salarioFixo" value="0">
        </div>

        <div>
            <label for="comissao">Porcentagem do valor da comissão</label>
            <input ng-model="comissao" type="number" name="comissao" value="0">
        </div>

        <div>
            <label for="carrosVendidos">Número de carros vendidos </label>
            <input ng-model="carrosVendidos" type="number" name="carrosVendidos" value="0">
        </div>

        <div>
            <label for="valorTotalVendas">Valor em r$ do total de vendas</label>
            <input ng-model="valorTotalVendas" type="number" name="valorTotalVendas" value="0">
        </div>

        <div id="texto" style="display: none;">
            <p>O salário total é de {{total}}.</p>
        </div>

        <button ng-click="calcular()"> Calcular </button>

    </div>


    <script>
        var app1 = angular.module("app", []);

        app1.controller("mCtrl", function ($scope) {

            $scope.calcular = function () {
                $scope.total = $scope.salarioFixo
                    + (($scope.valorTotalVendas * 5) / 100)
                    + (($scope.carrosVendidos * $scope.comissao) / 100);

                document.getElementById("texto").style.display = "inline";
            }

        });

    </script>
</body>

</html>