<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>box.menu</title>
    <link type="text/css" rel="stylesheet" href="../style/_reset.css">
    <link type="text/css" rel="stylesheet" href="/_work/CV5/components/w3c/newones_components.css">
    <link type="text/css" rel="stylesheet" href="../style/components.css">
    <script type="text/javascript" src="/_work/CV5/components/w3c/menu.js"></script>
</head>

<body onload="switchMenu(event, 'about')">


    <div class="menu__tab">
        <button class="tablinks" onclick="switchMenu(event, 'London')">About</button>
        <button class="tablinks" onclick="switchMenu(event, 'Paris')">Curriculum</button>
        <button class="tablinks" onclick="switchMenu(event, 'Tokyo')">Tokyo</button>
    </div>




    <div id="about" class="tab__content">
        <h3>Put the content here!</h3>
        <p>And here.</p>
    </div>

    <div id="Paris" class="tab__content">
        <h3>Put the content here!</h3>
        <p>And here.</p>
    </div>

    <div id="Tokyo" class="tab__content">
        <h3>Put the content here!</h3>
        <p>And here.</p>
    </div>



</body>

</html>