/************************************
    Author: Rafael Lapa Valgas
*************************************
/************************************
    CV version 5
*************************************
*
* New features:
* 1. BEM patterns
* 2. box-sizing: border-box;
* 3. grid adaptable
*
* To evolution:
* 
*
*
/************************************
    C O M P O N E N T S
*************************************/

.wrapper {}

.teste {
    max-width: 64px;
    max-width: 64px;
    border: 1px solid rgba(30, 143, 255, 0.281);
}

.topic-img {
    padding-left: 20px;
}


/************************************
    H E A D E R
*************************************
/************************************
    .logo
*************************************
*
* To evolution:
* 1. responsividade para mobile, tablet e desktop +1366
*
*/

.box__logo {
    margin: 3px;
    padding: 5px;
    padding-left: 0px;
    border-bottom: 1px dashed dodgerblue;
    /*avoid user selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box__logo__content {
    margin: 3px;
    padding: 5px;
    width: 100%;
    font-family: monospace;
    letter-spacing: 1em;
    font-size: 2em;
}


/************************************
    .menu
*************************************/

.box__menu {
    margin-bottom: 5px;
    display: flex;
    font-family: monospace;
    font-size: 1.1em;
    text-align: justify;
}

.menu__list {
    display: flex;
}

.menu__list__link {
    width: 6em;
    height: 2em;
    margin: 3px;
    padding: 5px;
    background-color: dodgerblue;
}

.menu__list__link:hover {
    border-bottom: 3px solid hotpink;
}

.menu__list__link:active {
    background-color: azure;
}

.menu__list__link--negative {
    background-color: hotpink;
}

.menu__list__link--negative:hover {
    border-bottom: 3px solid dodgerblue;
}

.link {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 10%;
    text-decoration: none;
    text-align: center;
    color: aliceblue;
}

.link:hover {
    color: black;
}


/************************************
    C O M P O N E N T S
*************************************
/************************************
    M A I N 
*************************************
/************************************
    about / academic / professional 
*************************************
/************************************
    .box
*************************************
*
* To evolution:
* 0. evitar definição em px
* 1. incluir campo de imagem no resume, e no tópico
* 2. responsividade para mobile, tablet e desktop +1366
*/

.box {
    font-family: serif;
    font-size: 1em;
    text-align: justify;
    margin-bottom: 8px;
    min-width: 420px;
    max-width: 420px;
    height: auto;
}


/************************************
    .resume
*************************************/

.resume {
    padding: 5px;
    border: 1px dashed rgba(30, 143, 255, 0.020);
    border-left: 1px dashed rgba(30, 143, 255, 0.130);
}

.resume:hover {
    border-bottom: 1px solid dodgerblue;
}

.resume--summary {
    border: 1px solid dodgerblue;
    display: none;
    background-color: rgba(30, 143, 255, 0.120);
    /* onload() none; onclick() show/hide*/
}


/************************************
    .resume__view
*************************************/

.resume__view {
    margin: 3px;
    padding: 3px;
    /*avoid user selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.resume__view--lesser {
    line-height: 50%;
}

.resume__view--enphasis {
    padding: 5px;
}

.resume__view--title {
    font-size: 1.1em;
    font-family: monospace;
    font-weight: bold;
}

.resume__view--local {
    font-size: 0.85em;
}


/************************************
    --shadow version
*************************************/

.box--shadow {
    /* put --shadow / replace */
    margin: 3px;
    padding: 5px;
    font-family: serif;
    font-size: 1em;
    text-align: justify;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 8px;
    min-width: 420px;
    max-width: 420px;
}

.box--shadow:hover {
    /* put --shadow / replace */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resume--shadow {
    /* put --shadow / replace */
    margin: 3px;
    padding: 5px;
}

.resume--summary--shadow {
    /* put the class together*/
    border: none;
}

.resume__view--title--shadow {
    /* put the class together */
    border-bottom: solid 1px;
}


/************************************
    --about version
*************************************/

.box--about {
    /* put --about / replace */
    margin: 3px;
    padding: 5px;
    font-family: serif;
    font-size: 0.9em;
    text-align: justify;
    margin-bottom: 8px;
    height: auto;
}

.resume--about {
    /* put the class together */
    border: none;
}

.resume--about:hover {
    border: none;
}

.resume__view--title--about {
    /* put --about / replace */
    font-size: 2em;
    font-family: monospace;
    font-weight: bold;
    letter-spacing: 0.2em;
}

.resume__view--about {
    /* put the class together */
    font-size: 1.15em;
    line-height: 1.15em;
}


/************************************
    C O M P O N E N T S
*************************************
/************************************
    F O O T E R
*************************************
/************************************
    social / datatime 
*************************************
/************************************
    .contact / SOCIAL
*************************************
* 
* To evolution: 
* 0. manter versão vertical e horizontal 
* 1. responsividade para mobile,
tablet e desktop+1366 
* 
*/

.contact {
    margin: 3px;
    padding: 5px;
    display: flex;
}

.contact__box {
    margin: 3px auto;
    padding: 5px;
    display: flex;
}

.contact__box>a {
    text-decoration: none;
    color: aliceblue;
}

.contact__box--img {
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
    overflow: hidden;
}

.contact__box--img>img {
    min-width: 24px;
    min-height: 24px;
    max-width: 24px;
    max-height: 24px;
}

.contact__box--title {
    padding-left: 8px;
    padding-top: 8px;
    text-decoration: none;
    font-family: monospace;
}

.contact__box--title>a:hover {
    color: black;
}

.box__local {
    margin: 3px auto;
    padding-top: 0.75em;
    display: flex;
    justify-content: space-between;
    font-family: monospace;
    color: aliceblue;
    border-top: 1px dashed black;
}

.box__local>p:hover {
    color: black;
}

.footer__box {
    margin: auto;
    padding: 5px;
    min-width: 65%;
    max-width: 65%;
    background-color: dodgerblue;
}


/************************************
    E N D
*************************************
/************************************
   Presentation
*************************************/

body {
    margin: auto;
}

.box {
    margin: 50px auto;
    width: 75%;
}

.box--about {
    margin: 50px auto;
    width: 75%;
}

.all__header,
.box__menu {
    margin: auto;
    width: 75%;
}

.all__header {
    margin-top: 150px;
}