<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>exercicios</title>
</head>

<body>
    <div ng-app="">
        <p>Digite um numero para saber o antecessor</p>
        <input ng-model="base" type="number" name="base" id="base" value="0">
        <input ng-model="altura" type="number" name="altura" id="altura" value="0">
        <p>A área do retangulo é a base {{base}} mutiplicado pela altura {{altura}} que é {{base*altura}}</p>
    </div>
</body>

</html>