<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>box.resume--about</title>
    <link type="text/css" rel="stylesheet" href="../style/normalize801.css">
    <link type="text/css" rel="stylesheet" href="../style/style.css">
    <link type="text/css" rel="stylesheet" href="../style/components.css">
    <script type="text/javascript" src="../scripts/box.resume.js"></script>
</head>

<body>
    <div class="presentation ">
        <!-- about -->
        <section class="box--about ">
            <section class="resume resume--about ">
                <div class="resume__view resume__view--title--about ">
                    <h1>About</h1>
                </div>
                <div class="resume__view resume__view--about ">
                    <p>Psicólogo com especialização em Neuropsicologia Clínica. Mestrando na área de Informática na Saúde e Graduando em Análise e Desenvolvimento de Sistemas. Atua na área de avaliação psicológica, avaliação neuropsicológica, psicoterapia
                        cognitivo-comportamental e, atualmente, tem buscado oportunidades de inserção na área de desenvolvimento de sistemas.</span>
                    </p>
                </div>
            </section>
            <section class="resume resume--about ">
                <div class="resume__view resume__view--title--about ">
                    <h1>Perfil profissional</h1>
                </div>
                <div class="resume__view resume__view--about ">
                    <p>Entusiasta da área da informática há mais de dez anos. Após concluir a formação em psicologia e iniciar as atividades profissionais interessou-se em buscar novos desafios e experiências. Iniciou, então, a graduação em Análise e Desenvolvimento
                        de Sistemas. Ingressou, também, no mestrado profissional, tendo em vista a união das áreas da saúde e tecnologia. Possui experiências nas áreas da educação, saúde e pesquisa acadêmica, podendo contribuir na mediação de projetos
                        que compreendam esses aspectos. Atualmente, procura inserção na área de desenvolvimento de sistemas.
                        </span>

                    </p>
                </div>
            </section>
            <section class="resume resume--about ">
                <div class="resume__view resume__view--title--about ">
                    <h1>Objetivos</h1>
                </div>
                <div class="resume__view resume__view--about ">
                    <p>Descrição bonita aqui.
                        </span>

                    </p>
                </div>
            </section>
        </section>
        <!-- box-about -->
    </div>
</body>

</html>