<!-- img -->

<!-- thumbnail -->

<div class="topic__thumbnail topic__thumbnail--projectcard">

    <a href="#{{imgs.url}}">

        <img class="thumbnail thumbnail--projectcard " src="../img/{{imgs.url}}" alt=" ">

    </a>

</div>

<!-- /thumbnail -->

<!-- photo lightbox -->

<a href="#_" class="lightbox lightbox--projectcard" id="{{imgs.url}}" style="text-decoration: none; color:aliceblue">

    <div style="background-color: rgba(0, 0, 0, 0.685); width: 100%; height: 100%;">

        <img src="../img/{{imgs.url}}">

        <div>

            <p>{{imgs.description}}</p>
        
        </div>

    </div>

</a>

<!-- /photo lightbox -->

<!-- /img -->