<footer>
    <section class="wrapper">
        <section class="social">
            <div class="contact">
                <div class="contact__box">
                    <!-- email -->
                    <div class="contact__box">
                        <a class="contact__box" href="lapavalgas@gmail.com ">
                            <div class="contact__box contact__box--img">
                                <img src="icons/email.png" alt="email ">
                            </div><span class="contact__box contact__box--title">e-mail</span>
                        </a>
                    </div>
                </div>
                <div class="contact__box">
                    <!-- linkedIn -->
                    <div class="contact__box">
                        <a class="contact__box" href="https://www.linkedin.com/in/lapavalgas/ ">
                            <div class="contact__box contact__box--img">
                                <img src="icons/linkedin.jpg" alt="email ">
                            </div><span class="contact__box contact__box--title">linkedin</span>
                        </a>
                    </div>
                </div>
                <div class="contact__box">
                    <!-- lattes -->
                    <div class="contact__box">
                        <a class="contact__box" href="http://lattes.cnpq.br/9384866584126633 ">
                            <div class="contact__box contact__box--img">
                                <img src="icons/lattes.png" alt="email ">
                            </div><span class="contact__box contact__box--title">lattes</span>
                        </a>
                    </div>
                </div>
                <div class="contact__box">
                    <!-- github -->
                    <div class="contact__box">
                        <a class="contact__box" href="https://github.com/lapavalgas ">
                            <div class="contact__box contact__box--img">
                                <img src="icons/github.png" alt="email ">
                            </div><span class="contact__box contact__box--title">github</span>
                        </a>
                    </div>
                </div>
                <div class="contact__box">
                    <!-- zaps -->
                    <div class="contact__box">
                        <a class="contact__box" href="988351392 ">
                            <div class="contact__box contact__box--img">
                                <img src="icons/zaps.png" alt="email ">
                            </div><span class="contact__box contact__box--title">whatsapp</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="box__local">
                <p class="box__local--name">Rafael Lapa Valgas</p>
                <p class="box__local--local">São José, Santa Catarina, Brasil</p>
                <p class="box__local--data">09/2019</p>
                <p class="box__local--data--desktop">Setembro de 2019</p>
            </div>
        </section>
    </section>
</footer>