<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="../style/_reset.css">
    <link type="text/css" rel="stylesheet" href="../style/components2.css">

    <script type="text/javascript" src="../scripts/scripts.js"></script>
    <!-- 
        Some comments here...
                                                Rafael Lapa Valgas      27/09/2019         -->
    <title>logo.menu</title>
</head>

<body onload="onloadCloseCard('detail')">
    <section class="wrapper">
        <section class="academic">
            <div class="academic__title">
                <h4>
                    Academic
                </h4>
                <!-- end to presentation -->
            </div>
            <!-- start card -->
            <div class="academic__card" onclick="openCloseCard('00')">
                <!-- resume -->
                <section class="resume">
                    <div class="resume__view resume__view--title ">
                        <h5>
                            Graduação em Licenciatura em Música
                        </h5>
                    </div>
                    <div class="resume__view resume__view--local ">
                        <p>
                            Universidade do Estado de Santa Catarina<span> - UDESC - DMU</span>
                        </p>
                    </div>
                    <div class="resume__lastline">
                        <div class="resume__view resume__view--data">
                            <p>
                                2010 ~ 2015
                            </p>
                        </div>
                        <div class="resume__view resume__view--status">
                            <p>
                                Abandono de curso.
                            </p>
                        </div>
                    </div>
                    <!-- end to resume -->
                </section>
                <!-- detail -->
                <section class="detail" id="00">
                    <section class="detail__resume">
                        <div class="detail__view detail__view--title ">
                            <h5>
                                Resume
                            </h5>
                        </div>
                        <div class="detail__view ">
                            <p>
                                Com objetivo de reunir minhas formações em um ponto comum busquei ingressar no mestrado profissional em informática em saúde. Aonde tenho estudado diferentes aplicações de tecnologias na área da saúde e a dimensão da complexidade que é informtizar a saúde.
                                o principal foco tem sido a aplicação de metodologias de bigdata e machine learning para a área da saúde mental.
                            </p>
                        </div>
                        <!-- detail topic -->
                    </section>
                    <!-- one -->
                    <!-- topic -->
                    <section class="detail__topics ">
                        <!-- topic -->
                        <div class="detail__topics__view detail__topics__view--title ">
                            <h6>
                                Pesquisa Neuropsicologia e bigdata
                            </h6>
                        </div>
                        <div class="detail__topics__view detail__topics__view--data">
                            <p>
                                2011 ~ 2012
                            </p>
                        </div>
                        <div class="detail__topics__view detail__topics__view--status">
                            <p>
                                Foi efetuada uma pesquisa trimestral sobre as aplicações de bigdata em Neuropsicologia.
                            </p>
                        </div>
                        <section class="topic__img">
                            <div class="topic__thumbnail" onclick="openCloseCard('00')">
                                <a href="#img1">
                                    <img class="thumbnail " src="/_work/CV3/img/eu.jpg" alt=" ">
                                </a>
                            </div>
                            <div class="topic__thumbnail" onclick="openCloseCard('00')">
                                <a href="#img2">
                                    <img class="thumbnail " src="/_work/CV3/img/zaps.png" alt=" ">
                                </a>
                            </div>
                            <div class="topic__thumbnail" onclick="openCloseCard('00')">
                                <a href="#img3">
                                    <img class="thumbnail" src="/_work/CV3/img/github.jpg" alt=" ">
                                </a>
                            </div>
                            <a href="#_" class="lightbox" id="img1" onclick="openCloseCard('00')">
                                <img src="/_work/CV3/img/eu.jpg">
                            </a>
                            <a href="#_" class="lightbox" id="img2" onclick="openCloseCard('00')">
                                <img src="/_work/CV3/img/zaps.png">
                            </a>
                            <a href="#_" class="lightbox" id="img3" onclick="openCloseCard('00')">
                                <img src="/_work/CV3/img/github.jpg">
                            </a>
                            <!-- backup <section class="topic__img">
                                <div class="topic__thumbnail" onclick="openCloseCard('00')">
                                    <img class="thumbnail " src="/_work/CV3/img/email.png" alt=" ">
                                </div>
                                <div class="topic__thumbnail">
                                    <img class="thumbnail " src="/_work/CV3/img/zaps.png" alt=" ">
                                </div>
                                <div class="topic__thumbnail ">
                                    <img class="thumbnail" src="/_work/CV3/img/github.jpg" alt=" ">
                                </div> backup -->
                            <!-- end imgs -->
                        </section>
                        <!-- end topic -->
                    </section>
                    <!-- here insert another topic :: a pseudo end to topics -->
                </section>
                <!-- end to detail -->
        </section>
        <!-- end to card -->
        </div>
    </section>

</body>

</html>