<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>box.resume-academic</title>
    <link type="text/css" rel="stylesheet" href="../style/normalize801.css">
    <link type="text/css" rel="stylesheet" href="../style/style.css">
    <link type="text/css" rel="stylesheet" href="../style/components.css">
    <script type="text/javascript" src="../scripts/box.resume.js"></script>
</head>

<body>
    <section class="footer__box ">
        <div class="box__contact ">
            <div class="contact ">
                <!-- one -->
                <div class="contact__box ">
                    <div class="contact__box contact__box--img ">
                        <img src="../img/email.png " alt="email ">
                    </div>
                    <div class="contact__box contact__box--title ">
                        <a href="lapavalgas@gmail.com ">e-mail</a>
                    </div>
                </div>
                <!-- two -->
                <div class="contact__box ">
                    <div class="contact__box contact__box--img ">
                        <img src="../img/linkedin.jpg " alt="email ">
                    </div>
                    <div class="contact__box contact__box--title ">
                        <a href="https://www.linkedin.com/in/lapavalgas/ ">linkedin</a>
                    </div>
                </div>
                <!-- three -->
                <div class="contact__box ">
                    <div class="contact__box contact__box--img ">
                        <img src="../img/lattes.png " alt="email ">
                    </div>
                    <div class="contact__box contact__box--title ">
                        <a href="http://lattes.cnpq.br/9384866584126633 ">lattes</a>
                    </div>
                </div>
                <!-- four -->
                <div class="contact__box ">
                    <div class="contact__box contact__box--img ">
                        <img src="../img/github.png " alt="email ">
                    </div>
                    <div class="contact__box contact__box--title ">
                        <a href="https://github.com/lapavalgas ">github</a>
                    </div>
                </div>
                <!-- five -->
                <div class="contact__box ">
                    <div class="contact__box contact__box--img ">
                        <img src="../img/zaps.png " alt="email ">
                    </div>
                    <div class="contact__box contact__box--title ">
                        <a href="988351392 ">whatsapp</a>
                    </div>
                </div>
            </div>
            <div class="box__local">

                <p>São José, Santa Catarina, Brasil</p>
                <p>Rafael Lapa Valgas</p>
                <p>Setembro de 2019</p>


            </div>
    </section>
</body>

</html>