<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>box.menu</title>
    <link type="text/css" rel="stylesheet" href="../style/_reset.css">
    <link type="text/css" rel="stylesheet" href="../style/style.css">
    <link type="text/css" rel="stylesheet" href="../style/components.css">
    <script type="text/javascript" src="../scripts/box.resume.js"></script>
</head>

<body>













    <section class="all__header ">
        <section class=" box__logo ">
            <div class="box__logo__content ">
                <div class="box__logo__name ">
                    <p>Rafael</p>
                </div>
                <div class="box__logo__lastname ">
                    <span id="lastname_one ">Lapa</span><span class="lastname_two ">valgas</span>
                </div>
            </div>
        </section>
    </section>
    <section class="box__menu ">
        <ul class="menu__list ">
            <li class="menu__list__link ">
                <a class="link " href=" ">biography</a>
            </li>
            <li class="menu__list__link ">
                <a class="link " href=" ">psychology</a>
            </li>
            <li class="menu__list__link ">
                <a class="link " href=" ">programming</a>
            </li>
            <li class="menu__list__link ">
                <a class="link " href=" ">music</a>
            </li>
            <li class="menu__list__link ">
                <a class="link " href=" ">portfolio</a>
            </li>
        </ul>
        <ul class="menu__list ">
            <li class="menu__list__link menu__list__link--negative ">
                <a class="link link--negative " href=" ">hobby</a>
            </li>
        </ul>
    </section>
</body>

</html>