<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>box.resume--academic</title>
    <link type="text/css" rel="stylesheet" href="../style/_reset.css">
    <link type="text/css" rel="stylesheet" href="../style/style.css">
    <link type="text/css" rel="stylesheet" href="../style/components.css">
    <script type="text/javascript" src="../scripts/box.resume.js"></script>
</head>

<body>
    <!-- academic -->
    <!-- academic -->
    <!-- academic -->
    <div class="academic">
        <div class="academic--title">
            <p>Academic</p>
        </div>
        <!-- box--blue -->
        <!-- box--blue -->
        <!-- box--blue -->
        <!-- academic -->
        <!-- academic -->
        <!-- academic -->
        <section class="box">
            <section class="resume" onclick="box_resume_onclick('resume004') ">
                <div class="resume__view resume__view--title ">
                    <h1>Mestrado profissional em Informática em Saúde</h1>
                </div>
                <div class="resume__view resume__view--local ">
                    <p>Universidade Federal de Santa Catarina<span> - UFSC - PPGINFOS</span></span>
                    </p>
                </div>
                <div class="resume__view ">
                    <p>2019 - 2021</p>
                </div>
                <div class="resume__view ">
                    <p>Em andamento.</p>
                </div>
            </section>
            <section id="resume004" class="resume resume--summary" onclick="box_resume_onclick('resume004')">
                <div class="resume__view resume__view--title ">
                    <h1>Resume</h1>
                </div>
                <div class="resume__view ">
                    <p>Com objetivo de reunir minhas formações em um ponto comum busquei ingressar no mestrado profissional em informática em saúde. Aonde tenho estudado diferentes aplicações de tecnologias na área da saúde e a dimensão da complexidade que
                        é informtizar a saúde. o principal foco tem sido a aplicação de metodologias de bigdata e machine learning para a área da saúde mental.</p>
                </div>
                <div class="resume__view resume__view--enphasis ">
                    <div class="resume__view resume__view--title resume__view--lesser ">
                        <h1>Pesquisa Neuropsicologia e bigdata</h1>

                    </div>
                    <div class="resume__view resume__view--lesser ">
                        <p>2011 ~ 2012</p>
                    </div>
                    <div class="resume__view ">
                        <p>Foi efetuada uma pesquisa trimestral sobre as aplicações de bigdata em Neuropsicologia.</p>
                    </div>
                    <section class="topic-img">

                    </section>
                </div>
            </section>
            <!-- academic -->
            <!-- academic -->
            <!-- academic -->
            <section class="resume" onclick="box_resume_onclick('resume003')">
                <div class="resume__view resume__view--title">
                    <h1>Graduação em Análise e Desenvolvimento de Sistemas</h1>
                </div>
                <div class="resume__view resume__view--local">
                    <p>Centro Universitário Municipal de São José<span> - USJ - ADS</span></span>
                    </p>
                </div>
                <div class="resume__view ">
                    <p>2017 - 2021</p>
                </div>
                <div class="resume__view ">
                    <p>Em andamento.</p>
                </div>
            </section>
            <section id="resume003" class="resume resume--summary " onclick="box_resume_onclick('resume003')">
                <div class="resume__view resume__view--title ">
                    <h1>Resume</h1>
                </div>
                <div class="resume__view ">
                    <p>descrição do curso e objetivos.</p>
                </div>
                <div class="resume__view resume__view--enphasis ">
                    <div class="resume__view resume__view--title resume__view--lesser ">
                        <h1>Bolsista frontend developer.</h1>

                    </div>
                    <div class="resume__view resume__view--lesser ">
                        <p>2019</p>
                    </div>
                    <div class="resume__view ">
                        <p>Nothing.</p>
                    </div>
                </div>
            </section>
            <!-- academic -->
            <!-- academic -->
            <!-- academic -->
            <section class="resume " onclick="box_resume_onclick('resume002')">
                <div class="resume__view resume__view--title ">
                    <h1>Especialização em Neuropsicologia Clínica</h1>
                </div>
                <div class="resume__view resume__view--local ">
                    <p>Instituto Catarinense de Terapia Cognitiva<span> - ICTC</span></span>
                    </p>
                </div>
                <div class="resume__view ">
                    <p>2016 - 2018</p>
                </div>
                <div class="resume__view ">
                    <p>Concluído.</p>
                </div>
            </section>
            <section id="resume002" class="resume resume--summary " onclick="box_resume_onclick('resume002')">
                <div class="resume__view resume__view--title ">
                    <h1>Resume</h1>
                </div>
                <div class="resume__view ">
                    <p>Algo bontio</p>
                </div>
                <div class="resume__view resume__view--enphasis ">
                    <div class="resume__view resume__view--title resume__view--lesser ">
                        <h1>A informatização da neuropsicologia</h1>

                    </div>
                    <div class="resume__view resume__view--lesser ">
                        <p>2017 ~ 2018</p>
                    </div>
                    <div class="resume__view ">
                        <p>Artigo final: A informatização da neuropsicologia: uma revisão dos limites, obstáculos e potenciais da automatização</p>
                    </div>
                </div>
            </section>
            <!-- academic -->
            <!-- academic -->
            <!-- academic -->
            <section class="resume " onclick="box_resume_onclick('resume001')">
                <div class="resume__view resume__view--title ">
                    <h1>Graduação em bacharelado em Psicologia</h1>
                </div>
                <div class="resume__view resume__view--local ">
                    <p>Centro Universitário Estácio de Santa Catarina<span> - Estácio</span></span>
                    </p>
                </div>
                <div class="resume__view ">
                    <p>2011 - 2016</p>
                </div>
                <div class="resume__view ">
                    <p>Concluído.</p>
                </div>
            </section>
            <section id="resume001" class="resume resume--summary " onclick="box_resume_onclick('resume001')">
                <div class="resume__view resume__view--title ">
                    <h1>Resume</h1>
                </div>
                <div class="resume__view ">
                    <p>Algo bontio</p>
                </div>
                <div class="resume__view resume__view--enphasis ">
                    <div class="resume__view resume__view--title resume__view--lesser ">
                        <h1>avaliação neuropsicológica </h1>

                    </div>
                    <div class="resume__view resume__view--lesser ">
                        <p>2015 ~ 2016</p>
                    </div>
                    <div class="resume__view ">
                        <p>Artigo final: A avaliação neuropsicológica e o perfil cognitivo da doença de Parkinson.</p>
                    </div>
                    <div class="resume__view resume__view--title resume__view--lesser ">
                        <h1>Monitor </h1>

                    </div>
                    <div class="resume__view resume__view--lesser ">
                        <p>2016 ~ 2016</p>
                    </div>
                    <div class="resume__view ">
                        <p>descrição.</p>
                    </div>
                    <div class="resume__view resume__view--title resume__view--lesser ">
                        <h1>Pesquisa Cognitivismo 5 </h1>

                    </div>
                    <div class="resume__view resume__view--lesser ">
                        <p>2016 ~ 2016</p>
                    </div>
                    <div class="resume__view ">
                        <p>descrição.</p>
                    </div>
                    <div class="resume__view resume__view--title resume__view--lesser ">
                        <h1>Pesquisa Cognitivismo 4 </h1>

                    </div>
                    <div class="resume__view resume__view--lesser ">
                        <p>2015 ~ 2015</p>
                    </div>
                    <div class="resume__view ">
                        <p>descrição.</p>
                    </div>
                    <div class="resume__view resume__view--title resume__view--lesser ">
                        <h1>Pesquisa Cognitivismo 3 </h1>

                    </div>
                    <div class="resume__view resume__view--lesser ">
                        <p>2014 ~ 2014</p>
                    </div>
                    <div class="resume__view ">
                        <p>descrição.</p>
                    </div>
                    <div class="resume__view resume__view--title resume__view--lesser ">
                        <h1>Pesquisa Cognitivismo 2 </h1>

                    </div>
                    <div class="resume__view resume__view--lesser ">
                        <p>2013 ~ 2013</p>
                    </div>
                    <div class="resume__view ">
                        <p>descrição.</p>
                    </div>
                    <div class="resume__view resume__view--title resume__view--lesser ">
                        <h1>Pesquisa Cognitivismo 1 </h1>

                    </div>
                    <div class="resume__view resume__view--lesser ">
                        <p>2012 ~ 2012</p>
                    </div>
                    <div class="resume__view ">
                        <p>descrição.</p>
                    </div>
                </div>
            </section>
            <!-- academic -->
            <!-- academic -->
            <!-- academic -->
            <section class="resume " onclick="box_resume_onclick('resume000')">
                <div class="resume__view resume__view--title ">
                    <h1>Graduação em Licenciatura em Música</h1>
                </div>
                <div class="resume__view resume__view--local ">
                    <p>Universidade do Estado de Santa Catarina<span> - UDESC - DMU</span></span>
                    </p>
                </div>
                <div class="resume__view ">
                    <p>2010 - 2015</p>
                </div>
                <div class="resume__view ">
                    <p>Abandono de curso.</p>
                </div>
            </section>
            <section id="resume000" class="resume resume--summary " onclick="box_resume_onclick('resume000')">
                <div class="resume__view resume__view--title ">
                    <h1>Resume</h1>
                </div>
                <div class="resume__view ">
                    <p>Algo bontio</p>
                </div>
                <div class="resume__view resume__view--enphasis ">
                    <div class="resume__view resume__view--title resume__view--lesser ">
                        <h1>Estágio: Educação musical ensino médio</h1>

                    </div>
                    <div class="resume__view resume__view--lesser ">
                        <p>ano ~</p>
                    </div>
                    <div class="resume__view ">
                        <p>descrição</p>
                    </div>
                </div>
                <div class="resume__view resume__view--enphasis ">
                    <div class="resume__view resume__view--title resume__view--lesser ">
                        <h1>Estágio: Educação musical</h1>

                    </div>
                    <div class="resume__view resume__view--lesser ">
                        <p>ano ~</p>
                    </div>
                    <div class="resume__view ">
                        <p>descrição</p>
                    </div>
                </div>
                <div class="resume__view resume__view--enphasis ">
                    <div class="resume__view resume__view--title resume__view--lesser ">
                        <h1>Monitor: Harmonia e Contraponto </h1>

                    </div>
                    <div class="resume__view resume__view--lesser ">
                        <p>2013 ~ 2014</p>
                    </div>
                    <div class="resume__view ">
                        <p>Bolsista monitor da disciplina de Harmonia e contraponto, da UDESC.</p>
                    </div>
                    <section class="topic-img">
                        <img class="teste" src="/_work/CV3/img/eu.jpg" alt="">
                    </section>
                </div>
                <div class="resume__view resume__view--enphasis ">
                    <div class="resume__view resume__view--title resume__view--lesser ">
                        <h1>Monitor: Orquestra escola </h1>

                    </div>
                    <div class="resume__view resume__view--lesser ">
                        <p>2013 ~ 2013</p>
                    </div>
                    <div class="resume__view ">
                        <p>Bolsista monitor da orquestra escola (FIC), do Instituto Federal de Santa Catarina / IFSC.</p>
                    </div>
                </div>
            </section>
            <!-- academic -->
            <!-- academic -->
            <!-- academic -->
        </section>
    </div>
</body>

</html>