/************************************
    grid layout: v1
*************************************/


/************************************
    Evolução:
    2. melhorar o layout responsivo
*************************************/


/************************************
    .grid
*************************************/

.page {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto auto;
    grid-template-areas: 'h' 'm' 'f';
    background-color: aliceblue;
    overflow: hidden;
}

header {
    grid-area: h;
    margin: 3px auto;
    margin-top: 1em;
    padding: 5px;
    min-width: 75%;
    max-width: 75%;
    min-height: 140px;
}

main {
    grid-area: m;
    margin: 3px auto;
    margin-bottom: 5px;
    padding: 5px;
    min-width: 75%;
    max-width: 75%;
}

footer {
    grid-area: f;
    margin: 3px auto;
    padding: 5px;
    min-width: 75%;
    max-width: 75%;
}

@media screen and (min-width: 1715px) {
    .header {
        min-width: 60%;
        max-width: 60%;
    }
    .main {
        min-width: 60%;
        max-width: 60%;
    }
    .footer {
        min-width: 60%;
        max-width: 60%;
    }
}

@media screen and (max-width: 1155px) {
    .page {
        display: none;
    }
}


/*****footer****/

.footer-color {
    z-index: -1;
    position: absolute;
    width: 100%;
    left: 0;
    height: 30vh;
    background-color: dodgerblue;
}

.footer-box {
    margin: 3px auto;
    padding: 5px;
}

.box-contact {
    margin: 3px auto;
    padding: 5px;
}

.box-contact>h1 {
    padding-top: 0.25em;
    font-family: monospace;
    letter-spacing: 0.15em;
    font-size: 1em;
}