<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>CV3</title>
    <link type="text/css" rel="stylesheet" href="resetcss.css">
    <link type="text/css" rel="stylesheet" href="grid.css">
    <!-- <link type="text/css" rel="stylesheet" href="style/header.css"> -->
    <!--  <script type="text/javascript" src="./script.js"></script> -->
</head>

<body>
    <section class="page">
        <header>

        </header>
        <main>

        </main>
        <footer>
            <div class="footer-color"></div>
            <section class="footer-box">
                <div class="box-contact">
                    <h1>Contatos:</h1>
                </div>
                <div class="box-local">
                    <p class="local"> São José, Santa Catarina, Brasil</p>
                </div>
            </section>
        </footer>
    </section>
</body>

</html>