<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>logo</title>
    <link type="text/css" rel="stylesheet" href="resetcss.css">
    <link type="text/css" rel="stylesheet" href="logo.css">
    <!-- <script type="text/javascript" src="box.resume.js"></script> -->
</head>

<body class="presentation">
    <section class=" box__logo ">
        <div class="box__logo__content ">
            <div class="box__logo__name ">
                <p>Rafael</p>
            </div>
            <div class="box__logo__lastname ">
                <span id="lastname_one ">Lapa</span><span class="lastname_two ">valgas</span>
            </div>
        </div>
    </section>
</body>

</html>