<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>menu</title>
    <link type="text/css" rel="stylesheet" href="resetcss.css">
    <link type="text/css" rel="stylesheet" href="menu.css">
    <!-- <script type="text/javascript" src="box.resume.js"></script> -->
</head>

<body class="presentation">

    <section class="estrutura">
        <section class="box__menu">
            <ul class="menu__list">
                <li class="menu__list__link">
                    <a class="link" href="">biography</a>
                </li>
                <li class="menu__list__link">
                    <a class="link" href="">psychology</a>
                </li>
            </ul>
            <ul class="menu__list">
                <li class="menu__list__link menu__list__link--negative">
                    <a class="link link--negative" href="">hobby</a>
                </li>
            </ul>
        </section>
    </section>

</body>

</html>