---
author: Rafael
---

<!DOCTYPE html>

<html>

{{ content }}

<head>

    <!-- meta -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="../style/reset.css">
    <link type="text/css" rel="stylesheet" href="../style/style.css">
    <script type="text/javascript" src="../scripts/scripts.js"></script>

    <!-- /meta -->

    <title>{{ site.title }}</title>

</head>

<body style="background-color: rgba(240, 248, 255, 0.465);" onload="switchMenu('About'); onloadCloseCard('detail');">

    {% include header.html %}

    {% include main.html %}

    {% include footer.html %}

</body>

</html>